.image
{
  width: 1519px;
  height: 993px;
  background-repeat: no-repeat;
  background-position: center center;
}

.one
{
  background-image: url("../images/image-carousel1.jpeg");
}
.two
{
  background-image: url("../images/image-carousel2.jpeg");
}
.three
{
  background-image: url("../images/image-carousel3.jpeg");
}