@mixin border-border-inside 
{
    width: 1345px;
    height: 315px;
    position: absolute;
    border: 1px solid white;
    top: 22px;
    left: 26px;
    text-align: center;    
}
@mixin border-footer-contact-icon 
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-color: #323232;
    border-style: solid;    
    border-width: 1px;
}