/*Background-color*/
$bg-blue:#99cccc;
$bg-white:#ffffff;
$bg-lightgreen:#ecf6f1;
$bg-black:#000000;
$bg-yellow:#cccc33;
/*End*/
/*Font-color*/
$color-white:#ffffff;
$color-black:#000000;
$color-gray:#999999;
$color-yellow:#ffcc33;
/*End*/
/*Font-Family*/
$opensans:'Open Sans';
/*End*/
/*Text-Align*/
$ta-center:center;
$ta-left:left;
$ta-right:right;
/*End*/
/*Float*/
$float-none:none;
$float-left:left;
$float-right:right;
/*End*/
