/* .image
{
    width: 1920px;
    height: 993px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    display: ;
} */
.one
{
    background-image: url("../images/for-all/image-carousel1.jpeg");
}
.two
{
    background-image: url("../images/for-all/image-carousel2.jpeg");
}
.three
{
    background-image: url("../images/for-all/image-carousel3.jpeg");
}
