/*Import*/
@import '../scss/variables';
@import '../scss/wrap';
@import '../scss/reset';
@import '../scss/fonts';
@import '../scss/buttons';
@import '../scss/product-frame';
@import '../scss/layouts';
@import '../scss/fields';
@import '../scss/icons';
@import '../scss/badges';
@import '../scss/hover';
@import '../scss/functions';
@import '../scss/show';
@import '../scss/border';
@import 'layout.scss';
/*End-Import*/

header 
{
    background-color: #b1b1b1;
    
    .bottom
    {
        .row
        {
            .col
            {
                .cp-contain-content
                {
                    .cp-big-title
                    {
                        @include cp-font-big-title;
                    }
                    .cp-current-address
                    {
                        @include cp-font-current-address;
                        
                        a
                        {
                            @include cp-font-current-address;
                        }
                        .icon-greater-than
                        {
                            @include cp-font-current-address;
                            font-family: "FontAwesome";
                            font-size: 10px!important;
                        }
                    }
                }
            }
        }
    }
}

.cp-product-show
{
    margin-top: 34px;
    
    .container-xxl
    {
        .row 
        {
            .col-3 
            {
                .row:first-child
                {
                    margin-bottom: 33px;

                    .wrap-categories
                    {
                        .menu-title
                        {
                            @include layout-menu-title;
                            background-color: black;
                            
                            .wrap-content
                            {
                                top: 19px;
                                left: 22px;
                                position: relative;
                                display: inline-block;
                                
                                .fa-menu-icon
                                {
                                    @include font-categories;
                                    font-family: "FontAwesome";
                                    font-size: 20px;
                                    margin-right: 13px;
                                }
                                
                                .title
                                {
                                    display: inline-block;
                                    @include font-categories;
                                    margin:0;
                                }
                            }
                        }
                        .categories 
                        {
                            width: 320px;
                            height: 412px;
                            border: 2px solid #dddddd;
                            border-top: unset;
                            margin-bottom: 0;

                            .categories-choice
                            {
                                width: 316px;
                                height: 51px;
                                border-bottom: 1px solid #dddddd;
                                
                                .choice-link
                                {
                                    @include font-categories-choices;
                                    font-weight: bold;
                                    margin-left: 19px;
                                    
                                    .fa-chevron-right
                                    {
                                        line-height: 3.657;
                                        float: right;
                                        margin-right: 15px;
                                    }
                                }
                            }
                            .categories-choice:last-child
                            {
                                border-bottom: unset;
                            }
                        }
                    }
                }
                .row:nth-child(2)
                {
                    margin-bottom: 33px;

                    .wrap-color-filter
                    {
                        border: 1px solid #f0f0f0;
                        border-top: none;
                        
                        .menu-title 
                        {
                            @include layout-menu-title;
                            background-color: #f0f0f0;
                            
                            .title 
                            {
                                @include font-categories;
                                margin-left: 21px;
                                line-height: 3.657;
                                color:black;
                            }
                        }
                        .color-filter-table
                        {
                            width: 320px;
                            border-top: unset;
                            
                            .wrap-color-choices
                            {
                                margin: 23px 42px 29px 14px;
                                
                                .color-choice
                                {
                                    border-radius: 50%;
                                    width: 42px;
                                    height: 42px;
                                    display: inline-block;
                                    
                                    a.color 
                                    {
                                        width: 30px;
                                        height: 30px;
                                        display: block;
                                        position: relative;
                                        border-radius: 50%;
                                        top: 4px;
                                    }
                                }
                                /*#region Color*/
                                .color-choice:first-child
                                {
                                    .color 
                                    {
                                        background-color: #dc8e6a;
                                    }
                                }
                                .color-choice:nth-child(2)
                                {
                                    .color
                                    {
                                        background-color: #9f755e;
                                    }
                                }
                                .color-choice:nth-child(3)
                                {
                                    .color 
                                    {
                                        background-color: #b1c350;
                                    }
                                }
                                .color-choice:nth-child(4)
                                {
                                    .color 
                                    {
                                        background-color: #333d4f;
                                    }
                                }
                                .color-choice:nth-child(5)
                                {
                                    .color 
                                    {
                                        background-color: #8b7095;
                                    }
                                }
                                .color-choice:nth-child(6)
                                {
                                    .color 
                                    {
                                        background-color: #ededed;
                                    }
                                }
                                .color-choice:nth-child(7)
                                {
                                    .color 
                                    {
                                        background-color: #2a2a2a;
                                    }
                                }
                                .color-choice:last-child
                                {
                                    .color 
                                    {
                                        background-color: #ec60e1;
                                    }
                                }
                                /*#endregion*/
                                li.color-choice:hover
                                {
                                    border: 2px solid #a4a4a4;
                                }
                            }
                        }
                    }
                }
                .row:nth-child(3)
                {
                    margin-bottom: 33px;

                    .wrap-price-filter
                    {
                        border: 1px solid #f0f0f0;
                        
                        .menu-title
                        {   
                            @include layout-menu-title;
                            background-color: #f0f0f0;
                            
                            .title
                            {
                                @include font-color-price-size;
                                margin-left: 21px;
                                line-height: 3.657;
                                color:black;
                            }
                        }
                        .wrap-price-filter-field
                        {
                            display: inline-block;
                            margin-top: 30px;
                            margin-left: 24px;
                            
                            .js-ranger-slider 
                            {
                                
                            }
                            .price-from-to
                            {
                                @include font-color-price-size-count;
                                margin-top: 28px;
                                margin-bottom: 40px !important;
                            }
                        }
                    }
                }
                .row:nth-child(4)
                {
                    margin-bottom: 33px;

                    .wrap-size-filter-table
                    {
                        border: 1px solid #f0f0f0;
                        border-top: none;
                        
                        .menu-title 
                        {
                            @include layout-menu-title;
                            width: 322px;
                            background-color: #f0f0f0;
                            
                            .title 
                            {
                                @include font-categories;
                                margin-left: 21px;
                                line-height: 3.657;
                                color:black;
                            }
                        }
                        .size-filter-table
                        {
                            width: 320px;
                            border-top: unset;
                            
                            .wrap-size-choices
                            {
                                margin: 23px 42px 29px 14px;
                                
                                .size-choice
                                {
                                    width: 46px;
                                    height: 46px;
                                    border: 2px solid gainsboro;
                                    border-radius: 50%;
                                    text-align: center;
                                    display: inline-block;
                                    margin-right: 14px;
                                    margin-bottom: 14px;
                                }
                                
                                .size-choice:last-child
                                {
                                    margin-bottom: 0;
                                }

                                a.size 
                                {
                                    @include font-color-price-size;
                                    
                                    line-height: 10px;
                                    position: relative;
                                    top: 9px;
                                    color: #868686;
                                    padding: 8px;
                                }
                            }
                            /*#region Color*/
                            .color-choice:first-child
                            {
                                .color 
                                {
                                    background-color: #dc8e6a;
                                }
                            }
                            .color-choice:nth-child(2)
                            {
                                .color
                                {
                                    background-color: #9f755e;
                                }
                            }
                            .color-choice:nth-child(3)
                            {
                                .color 
                                {
                                    background-color: #b1c350;
                                }
                            }
                            .color-choice:nth-child(4)
                            {
                                .color 
                                {
                                    background-color: #333d4f;
                                }
                            }
                            .color-choice:nth-child(5)
                            {
                                .color 
                                {
                                    background-color: #8b7095;
                                }
                            }
                            .color-choice:nth-child(6)
                            {
                                .color 
                                {
                                    background-color: #ededed;
                                }
                            }
                            .color-choice:nth-child(7)
                            {
                                .color 
                                {
                                    background-color: #2a2a2a;
                                }
                            }
                            .color-choice:last-child
                            {
                                .color 
                                {
                                    background-color: #ec60e1;
                                }
                            }
                            /*#endregion*/
                            li.size-choice:hover
                            {
                                border: 2px solid #585858;
                            }
                        }
                    }
                }
                .row:nth-child(5)
                {
                    margin-bottom: 33px;

                    .wrap-menu-sort-types
                    {
                        border: 1px solid #f0f0f0;

                        .menu-title
                        {
                            @include layout-menu-title;
                            background-color: #f0f0f0;

                            .title
                            {
                                @include font-color-price-size;
                                margin-left: 21px;
                                line-height: 3.657;
                                color:black;
                            }
                        }
                        .wrap-sort-types-menu
                        {
                            .sort-types-menu
                            {
                                .wrap-sort-choices
                                {
                                    margin: 29px 0 0 18px;

                                    .sort-choice
                                    {
                                        margin-bottom: 27px;

                                        .sort 
                                        {
                                            @include font-color-price-size-count;
                                        }
                                        .sort:hover
                                        {
                                            color:black!important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .row:last-child
                {
                    .wrap-vertical-banner
                    {
                        .wrap-banner 
                        {
                            .for-man-banner
                            {
                                
                            }

                        }
                    }
                }
            }
            .col-9
            {
                .wrap-product-list 
                {
                    .wrap-extensions
                    {
                        .wrap-filter-dropdown
                        {
                            
                            .wrap-filter-icon
                            {
                                width: 51px;
                                height: 51px;
                                border-radius: 50%;
                                background-color: yellow;
                                text-align: center;
                            }
                        }
                    }
                    .product-list 
                    {
                        margin-top: 27px;

                        .wrap-product 
                        {
                            display: inline-block;
                            margin-right: 40px;
                            margin-top: 54px;
                        }
                    }
                    .wrap-swap-page
                    {
                        .swap-page-list
                        {
                            .swap-page-choice
                            {
                                display: inline-block;
                                border:1px solid black;

                                .page-number
                                {
                                    width: 41px;
                                    height: 41px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
